# Hugo Website Gitignore File
/public/

# Dunno what this is but don't need?
.hugo_build.lock

# Node modules
/node_modules/

# Intermediate output from scripts/gen-chromastyles.ps1
/static/chroma/

# Breh don't need no Claude files in the repo 😤
.claude
