:root {
  --text-color: black;
  --bg-color: #fff;
  --border-color: #E0E0E0;
}

.dark-mode {
  --text-color: #fff;
  --bg-color: #222;
  --border-color: #555;
  /* stylelint-disable-next-line custom-property-pattern -- must match Observable's inspector.css variable name */
  --syntax_normal: #d5d9e0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);

  /* overflow-y: hidden; */
}

/* .observablehq .observablehq--inspect {
  display: none;
} */

table {
  font-size: 13px;

  tr:not(:last-child) {
    border-bottom: solid 1px var(--border-color);
  }

  th, td {
    padding: 3px 6.5px 3px 0;
  }
}